<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link <%- pageTitle === "Home" ? 'active' : ''  %>" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%- pageTitle === "Cart" ? 'active' : ''  %>" href="/cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%- pageTitle === "Orders" ? 'active' : ''  %>" href="/orders">Orders</a>
        </li>
        <% if(isadmin){ %>
        <li class="nav-item">
          <a class="nav-link <%- pageTitle === "Add Products" ? 'active' : ''  %>" href="/admin/add-product">Add Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%- pageTitle === "Manage Orders" ? 'active' : ''  %>" href="/admin/manage-orders">Manage Orders</a>
        </li>
        <% } %>
      </ul>
      
      <!-- Centered Search Form -->
      <form class="d-flex mx-auto" role="search" method="GET" action="/">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <ul class="navbar-nav ms-auto">
        <% if (username) { %>
          <li class="nav-item">
            <span class="navbar-brand me-4">Hello, <%= username %>!</span>
          </li>
          <li class="nav-item">
            <a class="btn btn-danger" href="/logout">Logout</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="btn btn-primary me-2" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-success" href="/signup">Signup</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
